In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
print(df)

   A  B
0  1  4
1  2  5
2  3  6

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
fruits[1] = 'coconut'   
fruits.append('grape')
print(fruits)

In [ ]:
num = 10
if num%2 == 0:
    print("偶數")
else:
    print("奇數")

In [ ]:
sentence = "I love Python programming."
words = sentence.split()
capitalized = [word.upper() for word in words]
print(capitalized)

In [ ]:
for i in range(1, 11):
    print(f"{i}的平方是 {i**2}")