# 開始安裝

In [ ]:
#20250828執行過
%pip install ipython-sql pandas sqlalchemy

In [ ]:
#not sure
%load_ext sql

In [ ]:
import sqlite3
import pandas as pd

# 資料庫路徑（根據實際位置調整）
db_path = "../SQL/mysql/database/hi.db"

# 連接到 SQLite 資料庫
conn = sqlite3.connect(db_path)

# 練習區

## import內容和DB路經

In [ ]:
import pandas as pd
import sqlite3

# 建立連線
db_path = "../SQL/mysql/database/hi.db"
conn = sqlite3.connect(db_path)

conn.close()

## 查詢

In [8]:
# 執行查詢並用 Pandas 顯示結果  
import pandas as pd
import sqlite3

# 建立連線
db_path = "../SQL/mysql/database/hi.db"
conn = sqlite3.connect(db_path)

query = "SELECT * FROM Daily_report WHERE id = '15';"  
df = pd.read_sql(query, conn)  
display(df)
conn.close()

,id,content,reference,tag,created_at
0,15,df語法的結果輸出就可以看到整齊的資料表格,"result=(""SQL語法"")\ndf=pd.read_sql_query(result,...",sql/df/,2025-08-29 15:43:09.477565

## 插入單筆新資料

In [ ]:
#sql + pandas
import pandas as pd
import sqlite3

# 建立連線
db_path = "../SQL/mysql/database/hi.db"
conn = sqlite3.connect(db_path)

# 建立 DataFrame
df = pd.DataFrame({
    'content': ['df語法的結果輸出就可以看到整齊的資料表格'],
    'reference': ['result=("SQL語法")<br>df=pd.read_sql_query(result, conn)<br>df'],
    'tag': ['sql/df/'],
    'created_at': [pd.Timestamp.now()]
})

# # 插入資料
df.to_sql('Daily_report', conn, if_exists='append', index=False)

# # 全域設定（會影響整個 kernel）  
# pd.set_option('display.max_columns', None) 
# pd.set_option('display.width', 300)
# pd.set_option('display.max_colwidth', 40)   
# pd.set_option('display.expand_frame_repr', True)  
# pd.set_option('display.colheader_justify', 'left')
# 在 Jupyter 中顯示時，設定 Pandas 不忽略換行符  
# pd.set_option('display.max_colwidth', None)  # 確保不截斷內容  
# display(df)  # 在 Jupyter 中使用 display() 而非 print()  
# 讀取並顯示最新插入的資料  
result = ("SELECT * FROM Daily_report ORDER BY id DESC LIMIT 1")  # 讀取最新一筆資料
df = pd.read_sql_query(result, conn)
display(df)
conn.close()

In [6]:
# 完整範例（SQLAlchemy Core + pandas）
import pandas as pd
from sqlalchemy import create_engine, text

db_path = "../SQL/mysql/database/hi.db"
engine = create_engine(f"sqlite:///{db_path}", echo=False, future=True)

# 建立 DataFrame
df = pd.DataFrame({
    'content': ['準備要刪掉的資料'],
    'reference': ['z-my-note/sql/sqlalchemy/introduce.md'],
    'tag': ['sql/df/sqlalchemy/delete/'],
    'created_at': [pd.Timestamp.now()]
})

# 寫入（append）
df.to_sql('Daily_report', engine, if_exists='append', index=False)

# 讀取最新一筆並顯示
query = "SELECT * FROM Daily_report ORDER BY id DESC LIMIT 1"
with engine.connect() as conn:
    df_latest = pd.read_sql(query, conn)
display(df_latest)

conn.close()

,id,content,reference,tag,created_at
0,17,準備要刪掉的資料,z-my-note/sql/sqlalchemy/introduce.md,sql/df/sqlalchemy/delete/,2025-08-29 16:11:37.277105

## 更新

In [ ]:
import sqlite3
import pandas as pd 

db_path = "../SQL/mysql/database/hi.db"
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

update_query = """
UPDATE Daily_report
SET reference = ?
WHERE id = ?;
"""
new_reference = 'result=("SQL語法")\ndf=pd.read_sql_query(result, conn)\ndf'
cursor.execute(update_query, (new_reference, 15))
conn.commit()

# 用 pandas 讀出該筆  
df_updated = pd.read_sql("SELECT * FROM Daily_report WHERE id = 15", conn)  
display(df_updated) 

conn.close()

### 下面這個會刪掉全部,是危險性很高的更新檔案做法

In [ ]:
# 這個會把所有資料都刪掉,除了修改的那一筆
# 結論:不要用 to_sql(..., if_exists='replace') 在只讀到部分資料的 DataFrame 上，否則會刪掉其他資料。
# 要更新特定記錄，最好用 SQL 的 UPDATE，安全又直接。
# import pandas as pd
# import sqlite3

# # 建立連線
# db_path = "../SQL/mysql/database/hi.db"
# conn = sqlite3.connect(db_path)

# # 修改 DataFrame 中的內容 
# df.loc[df['id']==15, 'reference'] = 'result=("SQL語法")\ndf=pd.read_sql_query(result, conn)\ndf'  

# # 將修改後的 DataFrame 寫回資料庫  
# df.to_sql('Daily_report', conn, if_exists='replace', index=False)  

# # 驗證更新結果  
# updated_df = pd.read_sql(query, conn)
# #updated_df

# # 在 Jupyter 中顯示時，設定 Pandas 不忽略換行符  
# # pd.set_option('display.max_colwidth', None)  # 確保不截斷內容  
# display(updated_df)  # 在 Jupyter 中使用 display() 而非 print()  
# # 關閉連線  
# conn.close()

## 插入多筆資料

In [ ]:
import pandas as pd
import sqlite3

# 建立連線
db_path = "../SQL/mysql/database/hi.db"
conn = sqlite3.connect(db_path)

# 建立包含多筆資料的 DataFrame
df = pd.DataFrame({
    'content': [
        '使用jupyter寫sqlite语法', 
        '學習pandas插入sqlite', 
        'SQLite資料庫操作'
    ],
    'reference': [
        'SQL/sqlite-python.ipynb', 
        'pandas/sqlite-insert.ipynb', 
        'database/sqlite-tutorial.md'
    ],
    'tag': [
        'ipython-sql/sql/', 
        'pandas/database', 
        'tutorial/sqlite'
    ],
    'created_at': [pd.Timestamp.now()]*3
})

# 插入多筆資料
df.to_sql('Daily_report', conn, if_exists='append', index=False) # append表示新增資料，不覆蓋原有資料。index=False表示不插入DataFrame的索引欄位。

# 讀取並顯示最新插入的資料
result = ("SELECT * FROM Daily_report ORDER BY id DESC LIMIT 1")  # 讀取最新一筆資料
df = pd.read_sql_query(result, conn)
display(df)

conn.close()

## 刪除單筆及多筆資料-選sqlalchemy

In [7]:

from sqlalchemy import create_engine, text
import pandas as pd

engine = create_engine(f"sqlite:///{db_path}", echo=False, future=True)

# 刪除單筆 id=12
with engine.begin() as conn:
    conn.execute(text("DELETE FROM Daily_report WHERE id = :id"), {"id": 17})

# # 刪除多筆 id 4,5
# ids_to_delete = [4, 5]
# placeholders = ", ".join([f":id{i}" for i in range(len(ids_to_delete))])
# sql = text(f"DELETE FROM Daily_report WHERE id IN ({placeholders})")
# params = {f"id{i}": ids_to_delete[i] for i in range(len(ids_to_delete))}
# with engine.begin() as conn:
#     conn.execute(sql, params)

# 驗證
with engine.connect() as conn:
    df = pd.read_sql("SELECT * FROM Daily_report", conn)
display(df)

,id,content,reference,tag,created_at
0,1,查詢pip中需要更新版本的套件,z-others/pip-upgrade-step.ipynb,pip/upgrade,2025-08-28 21:50:15
1,2,使用SIDERAI進行PDF解讀並轉檔py與json含RCMT-Tainan專案,z-my-note\hitachi-dcs\DDC-functionblock-detail,pdf/py/json,2025-08-28 21:50:15
2,3,學習看P&ID圖,RCMT-Tainan尚未建學習檔,P&ID/DCS,2025-08-28 21:50:15
3,4,新增MLC1的SIC圖,loop.md/尚未完成,DCS/MLC,2025-08-28 21:50:15
4,5,新增db的tag欄位，並更新欄位資訊,SQL/mysql/database/hi.db,sql/db/schema,2025-08-28 21:50:15
5,6,時間戳變更,將時間戳更新為當地時間與當下更新的時間,sql/time,2025-08-28 21:50:15
6,7,使用jupyter寫sqlite語法,SQL/sqlite-python.ipynb,ipython-sql/sql/,2025-08-28 14:23:39
7,8,失敗=>使用jupyter寫sqlite语法，改用python連接db並插入資料,SQL/sqlite-python.ipynb,ipython-sql/sql/,2025-08-28 14:28:42
8,9,學習如何使用 SQLite 與 Python 進行資料庫操作,SQL/sqlite-python.ipynb,ipython-sql/sql/,2025-08-28 14:46:34
9,13,測試文字寬度設定-已刪除id 10-12,SQL/sqlite-python.ipynb,ipython-sql/sql/,2025-08-29 00:19:12.031858
10,14,無法使用docling與markitdown,docling已刪除,marker/docling,2025-08-29 13:42:52.255496
11,15,df語法的結果輸出就可以看到整齊的資料表格,"result=(""SQL語法"")\ndf=pd.read_sql_query(result,...",sql/df/,2025-08-29 15:43:09.477565
12,16,測試sqlalchemy語法增加資料,z-my-note/sql/sqlalchemy/introduce.md,sql/df/sqlalchemy/add/,2025-08-29 16:05:07.807476

In [ ]:
#sql + cur 
import pandas as pd
import sqlite3

# 建立連線
db_path = "../SQL/mysql/database/hi.db"
conn = sqlite3.connect(db_path)
cur = conn.cursor() # 建立游標

# 單筆刪除  
cur.execute("DELETE FROM Daily_report WHERE id = ?", (12,))  
conn.commit()

# 多筆刪除
# cur.execute("DELETE FROM Daily_report WHERE id IN (?, ?)", (4, 5))
# conn.commit()

result = pd.read_sql_query("SELECT * FROM Daily_report", conn)  # 讀取所有資料
display(result)

conn.close()