# 開始安裝

In [ ]:
#20250828執行過
%pip install ipython-sql pandas sqlalchemy

In [ ]:
#not sure
%load_ext sql

In [ ]:
import sqlite3
import pandas as pd

# 資料庫路徑（根據實際位置調整）
db_path = "../SQL/mysql/database/hi.db"

# 連接到 SQLite 資料庫
conn = sqlite3.connect(db_path)

# 練習區

## import內容和DB路經

In [ ]:
import pandas as pd
import sqlite3

# 建立連線
db_path = "../SQL/mysql/database/hi.db"
conn = sqlite3.connect(db_path)

conn.close()

## 查詢

In [ ]:
# 執行查詢並用 Pandas 顯示結果  
import pandas as pd
import sqlite3

# 建立連線
db_path = "../SQL/mysql/database/hi.db"
conn = sqlite3.connect(db_path)

query = "SELECT * FROM Daily_report WHERE id = '15';"  
df = pd.read_sql(query, conn)  
df
conn.close()

## 插入單筆新資料

In [1]:
import pandas as pd
import sqlite3

# 建立連線
db_path = "../SQL/mysql/database/hi.db"
conn = sqlite3.connect(db_path)

# 建立 DataFrame
df = pd.DataFrame({
    'content': ['df語法的結果輸出就可以看到整齊的資料表格'],
    'reference': ['result=("SQL語法")<br>df=pd.read_sql_query(result, conn)<br>df'],
    'tag': ['sql/df/'],
    'created_at': [pd.Timestamp.now()]
})

# # 插入資料
df.to_sql('Daily_report', conn, if_exists='append', index=False)

# # 全域設定（會影響整個 kernel）  
# pd.set_option('display.max_columns', None) 
# pd.set_option('display.width', 300)
# pd.set_option('display.max_colwidth', 40)   
# pd.set_option('display.expand_frame_repr', True)  
# pd.set_option('display.colheader_justify', 'left')
# 在 Jupyter 中顯示時，設定 Pandas 不忽略換行符  
# pd.set_option('display.max_colwidth', None)  # 確保不截斷內容  
# display(df)  # 在 Jupyter 中使用 display() 而非 print()  
# 讀取並顯示最新插入的資料  
result = ("SELECT * FROM Daily_report ORDER BY id DESC LIMIT 1")  # 讀取最新一筆資料
df = pd.read_sql_query(result, conn)
display(df)
conn.close()

,id,content,reference,tag,created_at
0,15,df語法的結果輸出就可以看到整齊的資料表格,"result=(""SQL語法"")<br>df=pd.read_sql_query(resul...",sql/df/,2025-08-29 15:43:09.477565

## 更新

In [4]:
import sqlite3
import pandas as pd 

db_path = "../SQL/mysql/database/hi.db"
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

update_query = """
UPDATE Daily_report
SET reference = ?
WHERE id = ?;
"""
new_reference = 'result=("SQL語法")\ndf=pd.read_sql_query(result, conn)\ndf'
cursor.execute(update_query, (new_reference, 15))
conn.commit()

# 用 pandas 讀出該筆  
df_updated = pd.read_sql("SELECT * FROM Daily_report WHERE id = 15", conn)  
display(df_updated) 

conn.close()

,id,content,reference,tag,created_at
0,15,df語法的結果輸出就可以看到整齊的資料表格,"result=(""SQL語法"")\ndf=pd.read_sql_query(result,...",sql/df/,2025-08-29 15:43:09.477565

### 下面這個會刪掉全部,是危險性很高的更新檔案做法

In [ ]:
# 這個會把所有資料都刪掉,除了修改的那一筆
# 結論:不要用 to_sql(..., if_exists='replace') 在只讀到部分資料的 DataFrame 上，否則會刪掉其他資料。
# 要更新特定記錄，最好用 SQL 的 UPDATE，安全又直接。
# import pandas as pd
# import sqlite3

# # 建立連線
# db_path = "../SQL/mysql/database/hi.db"
# conn = sqlite3.connect(db_path)

# # 修改 DataFrame 中的內容 
# df.loc[df['id']==15, 'reference'] = 'result=("SQL語法")\ndf=pd.read_sql_query(result, conn)\ndf'  

# # 將修改後的 DataFrame 寫回資料庫  
# df.to_sql('Daily_report', conn, if_exists='replace', index=False)  

# # 驗證更新結果  
# updated_df = pd.read_sql(query, conn)
# #updated_df

# # 在 Jupyter 中顯示時，設定 Pandas 不忽略換行符  
# # pd.set_option('display.max_colwidth', None)  # 確保不截斷內容  
# display(updated_df)  # 在 Jupyter 中使用 display() 而非 print()  
# # 關閉連線  
# conn.close()

## 插入多筆資料

In [ ]:
import pandas as pd
import sqlite3

# 建立連線
db_path = "../SQL/mysql/database/hi.db"
conn = sqlite3.connect(db_path)

# 建立包含多筆資料的 DataFrame
df = pd.DataFrame({
    'content': [
        '使用jupyter寫sqlite语法', 
        '學習pandas插入sqlite', 
        'SQLite資料庫操作'
    ],
    'reference': [
        'SQL/sqlite-python.ipynb', 
        'pandas/sqlite-insert.ipynb', 
        'database/sqlite-tutorial.md'
    ],
    'tag': [
        'ipython-sql/sql/', 
        'pandas/database', 
        'tutorial/sqlite'
    ],
    'created_at': [pd.Timestamp.now()]*3
})

# 插入多筆資料
df.to_sql('Daily_report', conn, if_exists='append', index=False) # append表示新增資料，不覆蓋原有資料。index=False表示不插入DataFrame的索引欄位。

# 讀取並顯示最新插入的資料
result = ("SELECT * FROM Daily_report ORDER BY id DESC LIMIT 1")  # 讀取最新一筆資料
df = pd.read_sql_query(result, conn)
display(df)

conn.close()

## 刪除單筆及多筆資料

In [ ]:
import pandas as pd
import sqlite3

# 建立連線
db_path = "../SQL/mysql/database/hi.db"
conn = sqlite3.connect(db_path)
cur = conn.cursor() # 建立游標

# 單筆刪除  
cur.execute("DELETE FROM Daily_report WHERE id = ?", (12,))  
conn.commit()

# 多筆刪除
# cur.execute("DELETE FROM Daily_report WHERE id IN (?, ?)", (4, 5))
# conn.commit()

result = pd.read_sql_query("SELECT * FROM Daily_report", conn)  # 讀取所有資料
display(result)

conn.close()