# 開始安裝

In [ ]:
%pip install ipython-sql pandas

In [6]:
import sqlite3
import pandas as pd

# 資料庫路徑（根據實際位置調整）
db_path = "../SQL/mysql/database/hi.db"

# 連接到 SQLite 資料庫
conn = sqlite3.connect(db_path)

# 練習區

## select

In [11]:
# 執行查詢並用 Pandas 顯示結果  
query = "SELECT * FROM users WHERE age < 30;"  
df = pd.read_sql(query, conn)  
df

   id   name              email           created_at  age
0   1  Alice  alice@example.com  2025-08-14 13:35:46   25